<div class="row about no-gutters justify-content-center">
  <div class="col-md-12">
    <h2 class="text-center">The creators</h2>
  </div>
  <div class="col col-sm-4 col-md-4 col-lg-2">
    <div class="card">
      <img class="img-fluid" [src]="tomiPhotoUrl" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kapitány Tamás</h5>
        <p class="card-text">Gazdaságinformatikus Bsc</p>
        <a href="https://www.linkedin.com/in/kapitanytms/" target="_blank" class="btn btn-primary">Linked<i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
  <div class="offset-md-2 col offset-sm-2 col-sm-4 col-md-4 col-lg-2">
    <div class="card">
      <img class="img-fluid" [src]="papiPhotoUrl" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Papilion Dániel</h5>
        <p class="card-text">Gazdaságinformatikus Bsc</p>
        <a href="https://www.linkedin.com/in/danielpapilion/" target="_blank" class="btn btn-primary">Linked<i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>