<div class="project row no-gutters justify-content-center">
  <div class="col col-md-4">
    <h3 class="text-center">Suck My Disk team</h3>
    <h4 class="text-center">Members</h4>
    <ul>
      <li>Kapitány Tamás</li>
      <li>Papilion Dániel</li>
    </ul>
    <h3 class="text-center">Requirements: Alap elvárások (30 pont):</h3>
    <ul>
      <li>
        Projekt mefelelően legyen struktúrálva
      </li>
      <li>
        Feature-ök legyenek modulokra bontva
      </li>
      <li>
        Tilos közvetlenül DOM-ot manipulálni!
      </li>
      <li>
        A DOM manipuláció csak akkor megengedett, ha nem lehet angularral megoldani! Bővebben
        <ul>
          Tanácsok:
          <li>
            Kerüld el, ha lehet!
          </li>
          <li>
            Használd körültekintően, ha szükséges!
          </li>
        </ul>
      </li>
      <li>
        Legalább 5.x.x Angular használata
      </li>
      <li>
        Fordíthatóság JIT és AOT módban
      </li>
      <li>
        Dokumentált forráskód
        <ul>
          <li>
            Minimum JSDoc a kódban
          </li>
          <li>
            Kommentek ott ahol további magyarázat szükséges
          </li>
        </ul>
      </li>
      <li>
        Git verziókezelő rendszer használata
        <ul>
          <li>
            Szívesen látok egy Open github repot is
          </li>
        </ul>
      </li>
    </ul>
    <h4 class="text-center">Elkészítendő funkciók (70 pont):</h4>
    <ul>
      <li>
        Legalább 3 (különböző) route
      </li>
      <li>
        Legalább 3 saját module, legalább 1 lazy loaded module
      </li>
      <li>
        Legalább 1 saját service
      </li>
      <li>
        Legalább 1 saját direktíva (ami nem komponens)
      </li>
      <li>
        Legalább 10 (értelmes) saját komponens
      </li>
      <li>
        Legalább 1 (értelmes) saját form
      </li>
      <li>
        Legalább 1 saját pipe
      </li>
    </ul>
  </div>
</div>

