<div class="row no-gutters">
  <div class="col-md-12">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/project']">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about_us']">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign_up']">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign_in']">Sign In</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
